section{
    background-color: pink;
    margin: 30vh 20vw;
    padding: 10vh 10vw;
    border-radius: 21px;
    font-family:"Parisienne";
}

body{
  font-family:"Parisienne";
  font-size: 30px;
  font-weight: lighter;
  color: black;
  text-align: center;
}

button{
  font-family:"Parisienne";
  font-size: 50px;
  border: 0px;
  background-color: white;
  border-style: none;
  font-weight:bold;
  text-align:center;
  padding: 1vh 2vw;
  border-radius: 21px;
}
