body{
  background-color: #A8D0E6;
  color: #FFFFFF;
  border-color:#F76C6C;
}
#header{
  text-align:center;
  margin: 50px 0 0 0;
  font-size:30px;
}
#footer{
  text-align:center;
  margin: 50px 0 0 0;
  font-size:15px;
}

#tabs{
  display: flex;
  margin: 20vh 10vw 0 10vw;
  border-bottom:none;
  border-color:#F76C6C;
  background-color:#FFCA86;
  text-align: center;
}


#vent{
  display: flex;
  margin: 0vh 10vw 0 10vw;
  border-top: none;
  border-radius:0;
  text-align: center;
}

.feeling{
  flex-grow: 1;
  border: 1px solid #F76C6C;
  text-align: center;
}

#image, .page{
  flex-grow: 1;
  background-color: #FFCA86;
  border: 1px solid #F76C6C;
  width: 30vw;
  max-height: 80%;
  object-fit: cover;
  display: flex;
  position:relative;
  align:center;
  font-size:20px;
  text-align: center;
}

h2{
  margin-top:20px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 200%;
}

#Badpage, #Uglypage{
  display: none;
  border-radius: 0;
  text-align: center;
}

#feelingvent{
  font-size: 20px;
  text-align: center;
}

textarea{
  height:auto;
  display:flex;
  resize:vertical-auto;
  width:100%;
  box-sizing:border-box;
  rows="2"
  cols="50"
  text-align: center;
}

.active{
  border-bottom:none;
  
  border-color:#F76C6C;
  border-width: 0px;
  text-align: center;
}
