#tabs{
  display: flex;
  margin: 20vh 10vw 0 10vw;
  border-bottom:none;
}

#vent{
  display: flex;
  margin: 0vh 10vw 0 10vw;
  border-top: none;
}

.feeling{
  flex-grow: 1;
  border: 1px solid black;
}

#image, .page{
  flex-grow: 0;
  width: auto;
  background-color: pink;
  border: 1px solid black;
  max-width: 50%;
}

h2{
  margin-top:20px;
  padding-bottom: 0px;
  align: auto;
  font-size: 200%;
}

#badpage, #uglypage{
  display: none;
}

#feelingvent{
  font-size: 20px;
}

form{
  font-size: 50px;
}

textarea{
  height:auto;
  display:block;
  resize:vertical-auto;
  width:100%;
  box-sizing:border-box;

}

.active{
  /* background-color: lightblue; */
  border-bottom:none;
}

img{
  width: 100%;
  max-height: 80%;
  object-fit: cover;
  display: block;
  margin: auto;

}
