@media screen and (min-width: 700px){
#headshot{
  height:20%;
}
}

@media screen and (max-width: 700px){
#headshot{
  height:20%;
}
}

body {
  background-color:#Ffc1b2;
  color:#69774c;
  font-family:Rokkitt;
  font-size:20px;
}
#about{
  background-color:#e8b1a4;
  border-style:solid;
  border-width:9px;
  padding: 50px;
  border-radius:20px;
  font-family: Rokkitt;
}
a{
  color:#fff6f4;
  font-size:48px;
}
h1{
  font-size:96px;
}
h2{
  font-size:72px;
}
h3{
  font-size:64px;
}
ul{
  font-size:48px;
}
p{
  font-size:48px;
}


#top{
  margin-left:0px;
  border-style:solid;
  border-width:9px;
  border-radius:20px;
  text-align:center;
  margin-bottom:5px;
  font-family:Rokkitt;

}


#headshot{
  /* height: 800px;
  width: 400px; */
  margin:5px;
  position:absolute;
  top:0px;
  bottom:0px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

/* #img img{
  width:100vw;
  top:-400px;
  position:absolute;
} */
