@media screen and (max-width: 770px){
  #lucaimg{
  height:70vw;
}
  #top h1{
  font-size: 60px;
}
  #about h2{
  font-size:55px;
}
  #about h3{
  font-size:50px;
}
  #about ul{
  font-size:40px;
  }
  #about p{
  font-size:40px;
  }
}

body {
  background-color:#Ffc1b2;
  color:#69774c;
  font-family:Rokkitt;
  font-size:20px;
}

a{
  color:#fff6f4;
  font-size:48px;
}
h1{
  font-size:96px;
}
h2{
  font-size:72px;
}
h3{
  font-size:64px;
}
ul{
  font-size:48px;
}
p{
  font-size:48px;
}


#top{
  margin-left:10px;
  border-style:solid;
  border-width:9px;
  border-radius:20px;
  text-align:center;
  margin-bottom:5px;
  font-family:Rokkitt;

}

#headshot{
  margin-left:10px;
  margin-bottom: 10px;
  display:flex;
  justify-content: center;
  overflow: hidden;
}

#about{
  margin-left: 10px;
  background-color:#e8b1a4;
  border-style:solid;
  border-width:9px;
  padding: 50px;
  border-radius:20px;
  font-family: Rokkitt;
}

#grid{
  margin-top: 10px;
  margin-left: 10px;
  border-style:solid;
  border-width:9px;
  padding: 50px;
  border-radius:20px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pic{
  width:50%;
}
